// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-default {
  min-width: 64px;
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  border: 0;
}
.text-btn-default {
  color: $text-color-secondary;
  font-weight: bold;
  padding: $padding-default $padding-default * 2;
  font-size: 0.875rem;
  font-family: $text-font-stack;
  line-height: $text-spacing-default - 0.1;
  text-transform: uppercase;
}